# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

# Debug Path
\obj
Sign.exe.config
Sign.vshost.exe.config
Sign.vshost.exe.manifest
!\Debug\*.dll

# Log File
*.log
!Sign.log

Properties/licenses.licx
Properties/licenses.licx
